body{
    background: #2c2c2c;
}

nav{
    background: #181818;
    width: 100%;
    height: auto;
    color: #fff;
    border-bottom: 3px solid #ea5a44;
}

nav img{
    width:90px;
    transform: scale(1.0);
}

nav .logo{
    font-size:31px;
    margin-left: 5px;
    font-weight: bold;
    position: relative;
    top:20px;
}

nav ul{list-style:none;}
nav ul li {
    display: block;
    margin-top:35px;
    font-size: 20px;
    margin-right: 15px;
    transition: transform .4s ease;
}

#active:hover{
    color: #ea5a44;
    text-decoration: none;
    transform: scale(1.05);
    transition: transform .4s ease;
}

nav ul li:hover, nav a:hover {
    color: #ea5a44;
    text-decoration: none;
    transform: scale(1.05);
    transition: transform .4s ease;
}

.navbar-toggler{
    margin-top: 20px;
    color: #ea5a44;
    justify-content: right;
}

@media (max-width:360px) {
    nav img{
    width:75px;
    transform: scale(1.0);
    
    }

    nav .logo{
        font-size:29px;
        margin-left: 5px;
        font-weight: bold;
        position: relative;
        top:20px;
    }

}

.features {
    color: #fff;
    margin-top:100px;
    text-align: center;
    width: 100%;
    position: relative;
}

.features h1 {font-size:50px;}
.features p {
    max-width: 400px;
    margin:20px auto;
    word-wrap: break-word;
    text-align: center;
}
