.user_card {
    background-color: #2c2c2c;
    width: 400px;
    height: 400px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    border-radius: 20px;
    margin-left: 40px;
   }
.user_card:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(235, 89, 89, 0.3);
}

.user_img{
    border-radius: 5px 5px 5px 5px;
}